<footer class="footer-distributed navbar-fixed-bottom" >
	<div class="footer-right">
	<a href="https://www.facebook.com/login/"><i class="fa fa-facebook"></i></a>
	<a href="https://twitter.com/login"><i class="fa fa-twitter"></i></a>
	<a href="https://www.linkedin.com/uas/login"><i class="fa fa-linkedin"></i></a>
	<a href="https://github.com/"><i class="fa fa-github"></i></a>
	</div>
<div class="footer-left">
	<p class="footer-links"><%= link_to "Contact Us",new_contact_u_path %>|<%= link_to "About Us",pages_about_path %></p>
</div>
</footer>